auth_enabled: false
server:
  http_listen_port: 3100
  log_level: info

memberlist:
  node_name: loki
  bind_port: 7946
  gossip_interval: 1s

ingester:
  wal:
    enabled: true
  chunk_idle_period: 5m
  max_chunk_age: 1h
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    shared_store: filesystem
    cache_location: /loki/boltdb-cache
  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem

distributor:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

querier:
  max_concurrent: 20

query_scheduler:
  max_outstanding_requests_per_tenant: 100

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h


ruler:
  storage:
    type: local
    local:
      directory: /etc/loki/rules
  rule_path: /etc/loki/rules
  alertmanager_url: http://localhost:9093
